

body{
    --bg-1:#080808;
    --bg-2:#2a2b2a;
    --text-light:#fff;
    --green-color:#13eb74;
    background-color: var(--bg-1);
}

.section{
    background-color: var(--bg-2);
    border-radius: 5px;
    margin: 5rem auto;
    width: 30vw;
    height: fit-content;
    color: var(--text-light);
    padding: 2rem 5rem;

    input[type="text"]{
        background: var(--bg-2);
        border-radius: 20px;
        color: var(--text-light);
        padding: 0.5rem 1rem;
        font-size: 0.7rem;
        border: 1px solid var(--green-color);
        //width: auto;

    }
}
@media (max-width:900px){
    .section{
        width: 50vw;
        padding: 2rem 2rem;
    }
    
}
@media (max-width:550px){
    .section{
        width: 70vw;
    }
    
}